<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <title>Please check your email to confirm your account</title>
</head>
<body>

<!-- NOTE: this page is a placeholder for users who have not confirmed their account via email yet -->
  <div id = "account_pending">
  <header>
    <h1>
    	New account
    </h1>
  </header>
  
  <!-- We can add another button here that will re-send the confirmation email to this account -->
  <section id = "main">
    <img id = "logo" src = "../../images/icons/loginLogo.svg" alt = "logo" />
    <p>
      Please check your email to confirm your account
			<a href="resend_redirect"><button type="button">Resend Email</button></a>
    </p>
  </section>
</div>
  
  <footer>
  
  </footer>
  
</body>
</html>
