<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../../css/desktop.css">
  <script type = "text/javascript" src="../../js/jquery-2.0.3.min.js"></script>
  <title>Pact</title>
</head>
<body>
  <div class="container green white-font">
    <div class="grid-1"></div>
  	<div class="grid-4">
      <div class="grid-half logo-container">
  		  <p class="logo">Achieve</p>
        <p class="sub-heading">Access the app on any smartphone at: </p>
        <p class="url">www.achieve-cornell.rhcloud.com</p>
        <!-- <a href=""><img id="appstore" src="../../images/icons/appstore.png"></a> -->
      </div>
      <div class="grid-half">
        <img id="iphone" src="../../images/icons/achieveiphone.png">
      </div>
  	</div>
    <div class="grid-1"></div>
  </div>
</body>
</html>
