<% include ejs/header.ejs %>
<div id = "login">
<div id = "content">
  <header>
    <svg id = "logo">
        <circle cx = "50%" cy = "50%" r = "24px"/>
      </svg>
    <h1>Achieve</h1>
  </header>
  <section id = "main">

	<form action='/forgot_password' method='post'>

    
    <div class = "formfield">
      <input type='email' name='email' <% if (typeof email != 'undefined') { %> value = <%=email%> <% } %> ></input>
      <div class = "form_label">
            <svg class = "form_icon">
              <circle cx = "50%" cy = "50%" r = "12px"/>
              <line x1 = "96%" x2 = "96%" y1 = "8px" y2 = "32px" />
            </svg>
            <h4>Email</h4>
          </div>
    </div>
      <% if (typeof errors != 'undefined' && typeof errors.email != 'undefined') { %>
        <p class = "error"> <%=errors.email%> </p>
      <% } %>

	  <div class = "formfield">
	    <input type="submit" value="Send Email"></input>
	  </div>
	</form>

  </section>

  <footer>
    <script type = "text/javascript" src = "../js/placeholders.js"></script>
  </footer>
  </div>
  </div>
</body>
</html>