<% include ejs/header.ejs %>
<div id = "login">
<div id = "content">
<div id = "login_format">
<img id = "logo" src = "../../images/icons/loginLogo.svg" alt = "logo" />
  <section id = "main">

	<form action='/forgot_password' method='post'>

    
    <div class = "formfield">
      <input type='email' name='email' <% if (typeof email != 'undefined') { %> value = <%=email%> <% } %> ></input>
      <div class = "form_label">
                        <img class = "userIcon" src = "../../images/icons/login-user.svg" alt = "user" />
            <svg class = "form_icon">
              <line x1 = "96%" x2 = "96%" y1 = "8px" y2 = "32px" />
            </svg>
            <h4>Email</h4>
          </div>
    </div>
      <% if (typeof errors != 'undefined' && typeof errors.email != 'undefined') { %>
        <p class = "error"> <%=errors.email%> </p>
      <% } %>

	  <div class = "formfield">
	    <input type="submit" value="Send Email"></input>
	  </div>
	</form>

  </section>

  <footer>
    <script type = "text/javascript" src = "../js/placeholders.js"></script>
  </footer>
  </div>
  </div>
  </div>
</body>
</html>