<% include ejs/header.ejs %>
<div id="goal_new" class="content">
  <header>
    <h1>
      New Personal Goal
    </h1>
  </header>
  
  <section id = "main">
  	<h2>I will...</h2>
    <form method= "post">
      <div>
        <input type="text" name="verb" placeholder="Verb (ex. work out, study, lift)" id="goal-verb"/>        
        <input type="number" name="number" placeholder="Amount (ex. 3, 2, 50)" id="goal-number" />
        <input type="text" name="unit" placeholder="Unit (ex. times, hours, pounds)" id="goal-unit" />
        <select name = "frequency" id = "goal-freq">
        	<option value = "daily">Every Day</option>
        	<option value = "weekly">Every Week</option>
        	<option value = "deadline">By Deadline</option>
        </select>
      </div>
      <input type="submit" value="Set Goal"/>
    </form>
  </section>
  
  <footer>
  <% include ejs/navbar.ejs %>
  <script type = "text/javascript" src = "js/navbar.js"></script>
  </footer>
</div> 
</body>
</html>
