<% include ejs/header.ejs %>
  <div id = "me_settings" class= "content">
    <header>
      <h1>Settings</h1>
    </header>
	 	<section id = "main">
	  <form method= "post" action="/user/settings">
		  <div>
			  <h3><%= title %></h3>
			  <span label ="Name">
				<input type="text" name = "name" placeholder="Your name" id="editName"  <% if (typeof name != 'undefined') { %> value = <%=name%> <% } %> ></input>
			  </span> <br/>
      <% if (typeof errors != 'undefined' && typeof errors.name != 'undefined') { %>
        <p class = "error"> <%=errors.name.msg%> </p>
      <% } %>
			
			  <span label ="gender">
				<select name = "gender" id="editGender"  <% if (typeof wager != 'undefined'){ %> value = <%=wager%> <% } %>>
					<option value = "N/A">N/A</option>
					<option value = "Male">Male</option>
					<option value = "Female">Female</option>
				</select>
			  </span><br/>
				
      <% if (typeof errors != 'undefined' && typeof errors.gender != 'undefined') { %>
        <p class = "error"> <%=errors.gender.msg%> </p>
      <% } %>
				
			  <span label ="email">
				<input type="email" name = "email" placeholder="your email" id="editEmail"  <% if (typeof email != 'undefined') { %> value = <%=email%> <% } %>/>
			  </span><br/>
      <% if (typeof errors != 'undefined' && typeof errors.email != 'undefined') { %>
        <p class = "error"> <%=errors.deadline.msg%> </p>
      <% } %>	
			 </input>
			  </span>

			  <input type="submit" value="save changes"/>
    </form>
    <form method="get" action="/logout">
		  <button type="submit" name="logout">Logout</button>
	  </form>
  </section>
  <footer>
    <% include ejs/navbar.ejs %>
    <script type = "text/javascript" src = "../js/navbar.js"></script>
  </footer>
  </div>
</body>
</html>