<% include ejs/header.ejs %>
  <div id = "me_settings" class= "content">
    <header>
      <h1>Name</h1>
    </header>

    <section id = "main">
	 	<ul id = "topnav">
	 		<li id= "barleft"><a href = "user_hub.html">My goals</a></li>
	 		<li id= "barright"><a href = "me_settings.html">Settings</a></li>
	 	</ul>
	 	<h3>Profile</h3>
	 	<div class = "bars"><a href= "edit.html">Edit</a></div>
	 	<h3>Preferences</h3>
	 	<div class = "bars"><a href= "setNotification.html">Notification settings</a></div>
	 	<div class = "bars"><a href= "privacy.html">Privacy settings</a></div>
	 	<div class = "bars"><a href= "sharing.html">Sharing</a></div>
	 	<h3>Support</h3>
	 	<div class = "bars"><a href= "help">Achieve help center</a></div>
	 	<div class = "bars"><a href= "service.html">Terms of service</a></div>

	</section>
  <footer>
    <% include ejs/navbar.ejs %>
    <script type = "text/javascript" src = "../js/navbar.js"></script>
  </footer>
  </div>
</body>
</html>