<% include ejs/header.ejs %>
  <div id = "me_settings" class= "content">
    <header>
      <h1>Settings</h1>
    </header>
	 	<section id = "main">
	  <form method= "post" action="/user/settings">
		  <div>
			  <span label ="Name">
			  	Name: 
				<input type="text" name = "name" placeholder= <%= user.name %> id="editName"  <% if (typeof name != 'undefined') { %> value = <%=name%> <% } %> ></input>
			  </span> <br/>
      <% if (typeof errors != 'undefined' && typeof errors.name != 'undefined') { %>
        <p class = "error"> <%=errors.name.msg%> </p>
      <% } %>
			
			  <span label ="gender">
			  	Gender: 
				<select name = "gender" id="editGender"  <% if (typeof gender != 'undefined'){ %> value = <%=gender%> <% } %>>
					<option default><%= user.gender %></option>
					<option value = "N/A">N/A</option>
					<option value = "Male">Male</option>
					<option value = "Female">Female</option>
				</select>
			  </span><br/>
				
      <% if (typeof errors != 'undefined' && typeof errors.gender != 'undefined') { %>
        <p class = "error"> <%=errors.gender.msg%> </p>
      <% } %>
				
			  <span label ="email">
			  	Email: 
				<input type="email" name = "email" placeholder=<%= user.email %> id="editEmail"  <% if (typeof email != 'undefined') { %> value = <%=email%> <% } %>/>
			  </span><br/>
      <% if (typeof errors != 'undefined' && typeof errors.email != 'undefined') { %>
        <p class = "error"> <%=errors.deadline.msg%> </p>
      <% } %>	
			 </input>
			  </span><br/>
			  <span label = "password">
			  New password: 
				<input type="password" name = "password" placeholder=<%= user.password %> id="changepw"  <% if (typeof password != 'undefined') { %> value = <%=password%> <% } %>/>
			  </span><br/>
      <% if (typeof errors != 'undefined' && typeof errors.password != 'undefined') { %>
        <p class = "error"> <%=errors.deadline.msg%> </p>
      <% } %>	
			 </input>
			  </span>

			  <span label = "notifications">
			  Email notifications:<br/>
			  <input id ="r1" type="radio" name="daily" value="daily">Daily
			  <input id ="r2" type="radio" name="weekly" value="weekly">Weekly
			  <input id ="r3" type="radio" name="monthly" value="monthly">Monthly

			  <input type="submit" value="save changes"/>
			</span>

		  <button type="submit" name="logout">Logout</button>
	  </form>	
  </section>
  <footer>
    <% include ejs/navbar.ejs %>
    <script type = "text/javascript" src = "../js/navbar.js"></script>
  </footer>
  </div>
</body>
</html>