<% include ejs/header.ejs %>

<script type = "text/javascript" src = "../js/notifications.js"></script>

  <div id="notification_page" class="content">
    <header>
      <h1>
        <%= title %>
      </h1>
    </header>
    <div class="padding"></div>

    <p> load number of::: <%= load_num %></p>

    <div>
      
      <% for(var i = 0; i < notifs.length; i++) {%>
        <p> <%= notifs[i].event_type %> </p>
        <p> <%= notifs[i].info %> </p>
        <p> <%= notifs[i].event_id %> </p>
        <br/>
      <% } %>
      
      <form method="post">
        <input type="hidden" name="cur_num" id="curNum" value=<%=load_num%> />
        <input type="submit" value="Load More Notifs"/>
      </form>

      

      <!-- <a href= "getNotfis" onclick = "get_notifs()">Load More Notifications</a> -->
    </div>
    <!--
    <script>
      function addElement () {
        var arr
        for (var i = 0; i < 11; i++) {
          //create a new notification div and give it notification contents
          var notification = document.createElement("div");
          notification.className = "notification";
          //information div
          var info = document.createElement("div");
          info.className = "info";
          name = "name"
          verb = " verb"
          obj = " direct object!"
          info.innerHTML = name + verb + obj;
          //time div
          var time = document.createElement("div");
          time.className = "time";
          time.innerHTML = Date().toString();

          info.appendChild(time);         //add the time div to the info div
          notification.appendChild(info); //add the info div to the notification

          // add the newly created element and its content into the DOM
          notification_section = document.getElementById("notification_page");
          notification_section.appendChild(notification);
        }
      }
      addElement();
    </script>
  -->
    <!-- Space between form and footer -->
    <div class="padding"></div>
    <footer>
      <% include ejs/navbar.ejs %>
      <script type = "text/javascript" src = "../js/navbar.js"></script>
    </footer>
  </div>
</body>
</html>
