<% include ejs/header.ejs %>
<div id = "login">
<div id = "content">
  <header>
    <svg id = "logo">
        <circle cx = "50%" cy = "50%" r = "24px"/>
      </svg>
    <h1>Achieve</h1>
  </header>
  <section id = "main">

	<form action='/reset_password' method='post'>

   <% if (typeof user_id != 'undefined') { %> <input type='hidden' name='user_id'  value = <%=user_id%> ></input> <% } %>  
	  <div class = "formfield">
	  	<input type='password' name='password' ></input>
        <div class = "form_label">
              <svg class = "form_icon">
                <circle cx = "50%" cy = "50%" r = "12px"/>
                <line x1 = "96%" x2 = "96%" y1 = "8px" y2 = "32px" />
              </svg>
              <h4>Password</h4>
            </div>
  	  </div>
      <% if (typeof errors != 'undefined' && typeof errors.password != 'undefined') { %>
        <p class = "error"> <%=errors.password.msg%> </p>
      <% } %>

      <div class = "formfield">
        <input type='password' name='password2' ></input>
        <div class = "form_label">
            <svg class = "form_icon">
              <circle cx = "50%" cy = "50%" r = "12px"/>
              <line x1 = "96%" x2 = "96%" y1 = "8px" y2 = "32px" />
            </svg>
            <h4>Re-enter PW</h4>
          </div>
      </div>

      <% if (typeof errors != 'undefined' && typeof errors.password2 != 'undefined') { %>
        <p class = "error"> <%=errors.password2.msg%> </p>
      <% } %>

	  <div class = "formfield">
	    <input type="submit" value="Change Password"></input>
	  </div>
	</form>

	<p><a href="/login">Already have an account?</a></p>
  </section>

  <footer>
    <script type = "text/javascript" src = "../js/placeholders.js"></script>
  </footer>
  </div>
  </div>
</body>
</html>