<% include ejs/header.ejs %>
<div id = "login">
<div id = "content">
  <header>
    <svg id = "logo">
        <circle cx = "50%" cy = "50%" r = "24px"/>
      </svg>
    <h1>Achieve</h1>
  </header>
  <section id = "main">

	<form action='/signup' method='post'>
	   <div class = "formfield">
      <input type='text' name='name' <% if (typeof name != 'undefined') { %> value = <%=name%> <% } %> ></input>
        <div class = "form_label">
            <svg class = "form_icon">
              <circle cx = "50%" cy = "50%" r = "12px"/>
              <line x1 = "96%" x2 = "96%" y1 = "8px" y2 = "32px" />
            </svg>
            <h4>Name</h4>
          </div>
    </div>
      <% if (typeof errors != 'undefined' && typeof errors.name != 'undefined') { %>
        <p class = "error"> <%=errors.name.msg%> </p>
      <% } %>

    <div class = "formfield">
      <input type='text' name='gender' <% if (typeof gender != 'undefined') { %> value = <%=gender%> <% } %> ></input>
        <div class = "form_label">
            <svg class = "form_icon">
              <circle cx = "50%" cy = "50%" r = "12px"/>
              <line x1 = "96%" x2 = "96%" y1 = "8px" y2 = "32px" />
            </svg>
            <h4>Gender</h4>
          </div>
    </div>
      <% if (typeof errors != 'undefined' && typeof errors.name != 'undefined') { %>
        <p class = "error"> <%=errors.name.msg%> </p>
      <% } %>

    <div class = "formfield">
	    <input type='email' name='email' <% if (typeof email != 'undefined') { %> value = <%=email%> <% } %> ></input>
      <div class = "form_label">
            <svg class = "form_icon">
              <circle cx = "50%" cy = "50%" r = "12px"/>
              <line x1 = "96%" x2 = "96%" y1 = "8px" y2 = "32px" />
            </svg>
            <h4>Email</h4>
          </div>
	  </div>
      <% if (typeof errors != 'undefined' && typeof errors.email != 'undefined') { %>
        <p class = "error"> <%=errors.email.msg%> </p>
      <% } %>

	  <div class = "formfield">
	  	<input type='password' name='password' ></input>
        <div class = "form_label">
              <svg class = "form_icon">
                <circle cx = "50%" cy = "50%" r = "12px"/>
                <line x1 = "96%" x2 = "96%" y1 = "8px" y2 = "32px" />
              </svg>
              <h4>Password</h4>
            </div>
  	  </div>
      <% if (typeof errors != 'undefined' && typeof errors.password != 'undefined') { %>
        <p class = "error"> <%=errors.password.msg%> </p>
      <% } %>

      <div class = "formfield">
        <input type='password' name='password2' ></input>
        <div class = "form_label">
            <svg class = "form_icon">
              <circle cx = "50%" cy = "50%" r = "12px"/>
              <line x1 = "96%" x2 = "96%" y1 = "8px" y2 = "32px" />
            </svg>
            <h4>Re-enter PW</h4>
          </div>
      </div>

      <% if (typeof errors != 'undefined' && typeof errors.password2 != 'undefined') { %>
        <p class = "error"> <%=errors.password2.msg%> </p>
      <% } %>

	  <div class = "formfield">
	    <input type="submit" value="Sign Up"></input>
	  </div>
	</form>

	<p><a href="/login">Already have an account?</a></p>
  </section>

  <footer>
    <script type = "text/javascript" src = "../js/placeholders.js"></script>
  </footer>
  </div>
  </div>
</body>
</html>