<% include ejs/header.ejs %>
<div id = "team_hub" class = "content">
  <header>
    <h1>
			<%= team.name %>
    </h1>
  </header>

  <section id = "groups">
        <a href="/">Main</a>
	  <ul>
			<%= title %>
	  </ul>
    <ul>
			Team Name: <%= team.name %>
    </ul>
    <ul>
			Date Created: <%= team.created %>
    </ul>
    <ul>
			Deadline: <%= team.deadline %>
    </ul>
    <ul>
			Countdown until Deadline: <%= team.countdown %> days until the deadline<br/>
    </ul>
    <ul>
			 Has Deadline Passed? <%= team.has_deadline_passed %> <br/>
    </ul>
    <ul>
			Wager: <%= team.wager %>
    </ul>
  </section>

  <footer>
  </footer>
  </div>
</body>
</html>
