<% include ejs/header.ejs %>
<div id = "team_hub" class = "content">
  <header>
    <h1>
			<%= team.name %>
    </h1>
  </header>

  <section id = "groups">
 <!--        <a href="/">Main</a>
	  <ul>
			<%= title %>
	  </ul>
    <ul>
			Team Name: <%= team.name %>
    </ul>
    <ul>
			Date Created: <%= team.created %>
    </ul>
    <ul>
			Deadline: <%= team.deadline %>
    </ul>
    <ul>
			Countdown until Deadline: <%= team.countdown %> days until the deadline<br/>
    </ul>
    <ul>
			 Has Deadline Passed? <%= team.has_deadline_passed %> <br/>
    </ul>
    <ul>
			Wager: <%= team.wager %>
    </ul> -->

        <% for(var i=0; i<allcheckins.length; i++) {
          var time = allcheckins[i].created;
            var commentSize = allcheckins[i].comments.length;
            var likeSize = allcheckins[i].likes.length;
          %>
            <div class = "progress_box">
            <div class = "main_progress">
              <h3>
                <span class = "name"><%=allcheckins[i].user_name%></span> 
                completed <span class = "amount"><%= allcheckins[i].amount%> <%= allcheckins[i].unit %></span> of their goal.
              </h3>
              <p>"<%=allcheckins[i].status%>"</p>
              <h4><span><%=time%> </span> <%=commentSize%> comments <%=likeSize%> likes</h4>
            </div>
            <%for(var k = allcheckins[i].allcomments.length - 1; k>= 0; k--){%>
              <div class = "progress_comment">
                <h4>"<%= allcheckins[i].allcomments[k].text %>"</h4>
                <p><span class = "name"><%= allcheckins[i].allcomments[k].name %></span> commented <span class = "time">
                  <%= allcheckins[i].allcomments[k].created %></span></p>
              </div>
            <%}%>
              <div class = "progress_comment add_comment">
                <form method= "post" action="/team/<%= allcheckins[i].team_id %>/checkin/comment/<%= allcheckins[i]._id %>">
                  <div class = "comment_box">
                    <textarea rows="1" cols="50" name="comment" placeholder="Add Comment..."></textarea><br>
                  </div>
                  <div class = "comment_submit">
                    <input type="submit" value="Submit"/>
                  </div>
                </form>
              </div>
          </div>
        <% } %>


  </section>

  <footer>
    <% include ejs/navbar.ejs %>
    <script type = "text/javascript" src = "../../js/navbar.js"></script>
    <% include ejs/secondary_navbar2.ejs %>
    <script type = "text/javascript" src = "../../js/homepage.js"></script>
  </footer>
  </div>
</body>
</html>
