<% include ejs/header.ejs %>
<div id="team_new" class="content">
  <header>
    <h1>
    	Pact
    </h1>
  </header>

  <section id = "main">
	  <form method= "post">
		  <div>
			  <h3><%= title %></h3>
			  <span label ="Name">
				<input type="text" name = "name" placeholder="Enter your team name" id="editTeamName"  <% if (typeof name != 'undefined') { %> value = <%=name%> <% } %> ></input>
			  </span>
      <% if (typeof errors != 'undefined' && typeof errors.name != 'undefined') { %>
        <p class = "error"> <%=errors.name.msg%> </p>
      <% } %>

			  <span label ="Wager">
				<input type="text" name = "wager" placeholder="Enter a wager (Optional)" id="editWager"  <% if (typeof wager != 'undefined'){ %> value = <%=wager%> <% } %>></input>
			  </span>

      <% if (typeof errors != 'undefined' && typeof errors.wager != 'undefined') { %>
        <p class = "error"> <%=errors.wager.msg%> </p>
      <% } %>

			  <span label ="Deadline">
				<input type="date" name = "deadline" placeholder="Enter a deadline" id="editDeadline"  <% if (typeof deadline != 'undefined') { %> value = <%=deadline%> <% } %>/>
			  </span>
      <% if (typeof errors != 'undefined' && typeof errors.deadline != 'undefined') { %>
        <p class = "error"> <%=errors.deadline.msg%> </p>
      <% } %>

			 <input type="hidden" name = "num_user" id="numUsers" value="1" />

		     <span label ="Users" id = "addUser">
				<input type="text" name = "user1" placeholder="Enter a teammate's email" class="addUser"  <% if (typeof user1 != 'undefined') { %> value = <%=user1%> <% } %> ></input>
			  </span>

	      <% if (typeof errors != 'undefined' && typeof errors.user1 != 'undefined') { %>
	        <p class = "error"> <%=errors.user1.msg%> </p>
	      <% } %>

		  	  <a href= "#addUser" onclick = "addUser()">Add new user </a>

			  <input type="submit" onclick="groupsubmit()" value="Save Team"/>
		  </div>
	  </form>
	  <a href= "/"> Back to Home </a>
  </section>

  <footer>
  <% include ejs/navbar.ejs %>
  <script type = "text/javascript" src = "js/navbar.js"></script>

  </footer>
  </div>
</body>
</html>
