<% include ejs/header.ejs %>

<script>
	var data = <%-JSON.stringify(checkins)%>;

	console.log(data);
	
</script>

  <div id = "content">
    <header>
      <h1>Team Progress</h1>
    </header>

    <section id = "main">
    	<div id = "viz"></div>
    	<div id = "leaderboard"></div>
    </section>

    <footer>
      <!--include navbar.ejs here-->
      <% include ejs/navbar.ejs %>
      
      
      <script type = "text/javascript" src = "../../js/navbar.js"></script>
      <script type = "text/javascript" src = "../../js/d3.min.js"></script>
      <script type = "text/javascript" src = "../../js/viz.js"></script>
    </footer>
  </div>
</body>
</html>