<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <title>Welcome to Pact</title>
</head>
<body>

  <header>
    <h1>
    	Check In
    </h1>
  </header>
  
  <section id = "main">
	  <form method= "post">
			  <h3><%= title%></h3>
			  <span label ="Unit">
				  Unit
				  <input type="text" name = "status" id="editTeamUnit" />
			  </span>
			  <br/>
			  <span label ="Personal Goal">
				  Goal
				  <input type="text" name = "checkin" id="editTeamGoal" />
			  </span>

			  <br/>
			  <input type="submit" value="Check In"/>
		  </div>
	  </form>
  </section>
  
  <footer>
  
  </footer>
  
</body>
</html>
