<% include ejs/header.ejs %>
  <div id = "teams_page" class = "content">
  <header>
    <h1>Select Team</h1>
  </header>

  <section id = "main">
    <ul>
      <%for (var i=0; i<user.teams.length; i++){%>
          <li><a href = "/team/hub/<%=user.teams[i].team_id%>">
          <%
            var teamName = "";
            for (var j=0; j < teams.length; j++){
              if (user.teams[i].team_id == teams[j]._id){%>
                <%=teams[j].name%>
              <%}
            }
          %>
          </a></li>
      <%}%>
      <li><a id = "create_team" href="../team/new">Create Team</a></li>
    </ul>
  </section>

  <footer>
    <% include ejs/navbar.ejs %>
    <script type = "text/javascript" src = "../js/navbar.js"></script>
  </footer>
  </div>
</body>
</html>