<% include ejs/header.ejs %>
<div id = "team_hub" class = "content">
  <header>
    <h1>
			<%= team.name %>
    </h1>
  </header>

  <section id = "groups">
        <a href="/">Main</a>
	  <ul>
			<%= title %>
	  </ul>
    <ul>
			Team Name: <%= team.name %>
    </ul>
    <ul>
			Date Created: <%= team.created %>
    </ul>
    <ul>
			Deadline: <%= team.deadline %>
    </ul>
    <ul>
			Countdown until Deadline: <%= team.countdown %> days until the deadline<br/>
    </ul>
    <ul>
			 Has Deadline Passed? <%= team.has_deadline_passed %> <br/>
    </ul>
    <ul>
			Wager: <%= team.wager %>
    </ul>

        <% for(var i=0; i<allcheckins.length; i++) {%>
            <li>
              <a href="/team/<%= team._id %>/checkin/<%= allcheckins[i]._id %>">Checkin: <%= allcheckins[i].status %></a> by <%= allcheckins[i].user_name %> in <%= team.name %>
              created on <%= allcheckins[i].created %>
              <br/>
              <a href="/team/<%= team._id %>/checkin/<%= allcheckins[i]._id %>/delete">Delete</a>
              <br/>
              <% var output = '{';
                  for (var property in allcheckins[i]) {
                      output += property + ': ' + allcheckins[i][property]+'; ';
                  } output+='}'%>
                  <%=output%><br/>
          </li>
        <% } %>


  </section>

  <footer>
    <% include ejs/navbar.ejs %>
    <script type = "text/javascript" src = "../js/navbar.js"></script>
    <% include ejs/secondary_navbar.ejs %>
    <script type = "text/javascript" src = "../js/secondary_navbar.js"></script>
  </footer>
  </div>
</body>
</html>
