<% include ejs/header.ejs %>
  <div id = "me_mygoals" class= "content">
  <header>
    <h1>Name</h1>
  </header>
  <section id = "main">
    <ul id = "topnav">
      <li id= "barleft"><a href = "">My goals</a></li>
      <li id= "barright"><a href = "/user/settings">Settings</a></li>
    </ul>
    <div id = "info">
      <div id = "profile">
        <div id= "profilepic"><img src /></div>
        <div id = "userName">Name</div>
      </div>
      <div id = "goalsInfo">
        <ul id = "goalTitles">
          <li><p class = "goalsInfoTitle">Goals in progress</p>
          </li>
          <li><p class = "goalsInfoTitle">Goals completed</p>
          </li>
          <li><p class = "goalsInfoTitle">Total checkins</p>
          </li>
        </ul>
        <ul id = "counts">
          <li><h3 id = "inProgress">0</h3></li>
          <li><h3 id = "totalCompleted">0</h3></li>
          <li><h3 id = "totalCheckins">0</h3></li>
        </ul>
      </div>
    </div>
    <div id = "dataVis"></div>
      <p id = "individualProgress">Individual goal progress</p>
      <script>
      </script>
    

   </section>
  <footer>
    <% include ejs/navbar.ejs %>
    <script type = "text/javascript" src = "../js/navbar.js"></script>
  </footer>
  </div>
</body>
</html>
