<% include ejs/header.ejs %>
  <div id = "me_mygoals" class= "content">
  <header>
    <h1>Name</h1>
  </header>
    <ul id = "topnav">
      <li id= "barleft"><a href = "/user/:id">My goals</a></li>
      <li id= "barright"><a href = "/user/settings">Settings</a></li>
    </ul>
    <div id = "info">
      <div id = "profile">
        <div id= "profilepic"><img src ="../../public/images/icons/avatar_default.png" /></div>
        <div id = "userName"><% if (typeof user != 'undefined') { %> <%=user.name%> <% } %> </div>
      </div>
      <div id = "goalsInfo">
        <ul id = "goalTitles">
          <li><p class = "goalsInfoTitle">Goals in progress</p>
          </li>
          <li><p class = "goalsInfoTitle">Goals completed</p>
          </li>
          <li><p class = "goalsInfoTitle">Total checkins</p>
          </li>
        </ul>
        <ul id = "counts">
          <li><h3 id = "inProgress"><% if (typeof teams != 'undefined' && typeof completed_teams != 'undefined') { %> <%=teams.length - completed_teams %> <% } %> </h3></li>
          <li><h3 id = "totalCompleted"><% if (typeof completed_teams != 'undefined') { %> <%=completed_teams%> <% } %> </h3></li>
          <li><h3 id = "totalCheckins"><% if (typeof num_checkins != 'undefined') { %> <%=num_checkins%> <% } %> </h3></li>

        </ul>
      </div>
    </div>
    <div id = "dataVis"></div>
      <p id = "individualProgress">Individual goal progress</p>
      <script>
      </script>
  <footer>
    <% include ejs/navbar.ejs %>
    <script type = "text/javascript" src = "../js/navbar.js"></script>
        <% include ejs/secondary_navbar.ejs %>
    <script type = "text/javascript" src = "../js/secondary_navbar.js"></script>
  </footer>
  </div>
</body>
</html>
